<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Fatos Relevantes</h4>
                      <p class="card-category">
                        <p class="card-category">Conheça os fatos relevantes que compoem os seus fundos de investimentos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <button [routerLink]="['/table-list']">Confira aqui </button> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Notícias Relevantes Para o Mercado De Fundos </h4>
                      <p class="card-category">Conheça as principais notícias relevantes que podem afetar o mercado de fundos de investimentos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <button [routerLink]="['/table-list']">Confira aqui </button> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Rentabilidade de Fundos</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Nome</th>
                              <th>Mês</th>
                              <th>12 Meses</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>VOTORANTIM F1 EAGLE RFLP</td>
                                  <td>+ 0,01% </td>
                                  <td>+ 7,39%</td>
                              </tr>
                              <tr>
                                  <td>BTG PACTUAL YIELD DI FI</td>
                                  <td>+ 0,07%</td>
                                  <td>+ 6,45%</td>
                              </tr>
                              <tr>
                                  <td>SUL AMÉRICA QUALITY FIA</td>
                                  <td>+ 0,98%</td>
                                  <td>+ 24,33%</td>
                              </tr>
                              <tr>
                                  <td>I CATV VANGUARDA INFLAÇAO</td>
                                  <td>- 0,25%</td>
                                  <td>+ 13,33%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-warning">
                
                <h4 class="card-title">Template de regulamento

                        <img style="width: 150px; margin-left: 10px;" src="./assets/img/em-construcao-nova.png" alt="unloaded">
                </h4>
                
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Nome</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Politica de investimento</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Público Alvo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Remuneração</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Aplicação e Resgates</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>