<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Fatos relevantes</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                    <div *ngIf="undefined === restItems">Loading...</div>
                    <div *ngIf="undefined !== restItems">

                      <div class="table-responsive">
                          <table class="table">
                              <thead class="">
                                  <th>Nome</th>
                                  <th>Valor do impacto </th>
                                  <th>Descricão do impacto</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of restItems">
                                      <td>{{item.nome}}</td>
                                      <td *ngIf="item.valorImpacto != '' ">{{item.valorImpacto}}</td>
                                      <td *ngIf="item.valorImpacto == '' ">
                                            <div class="bandeiras" >
                                                    <div class="bola-quadrada"></div>
                                            </div>
                                      </td>
                                      <td>{{item.descricao}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>

                    <div class="bandeiras" >
                        <div class="bola-quadrada"></div>
                    </div>

                    <div class="bandeiras" >
                        <div><span>Risco regulatorio</span></div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    <div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0">Fatos de Notícias</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <div *ngIf="undefined === restItems">Loading...</div>
                  <div *ngIf="undefined !== restItems">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>Título</th>
                                <th>Descricão do impacto</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a [routerLink]="[]" (click)="goToSpecificUrl('http://www.cvm.gov.br/noticias/arquivos/2019/20190828-1.html')">Audiência Pública Sandbox Regulatório</a>
                                    </td>
                                    <td>Regulatório</td>
                                </tr>
                                    <tr>
                                    <td>
                                        <a [routerLink]="[]" (click)="goToSpecificUrl('https://www.google.com.br/amp/s/www.jota.info/tributos-e-empresas/mercado/bolsa-condena-xp-investimentos-preterir-ordem-16082019/amp')">Bolsa multa xp por preterir ordens de clientes</a>
                                    </td>
                                    <td>Regulatório</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div>
</div>
</div>